/*STOCK*/
.stock {
  .stock-offer1 {
    max-width: 554px;
    height: ($stock-bheight)* 2 + 32px;
    background-image: url("../img/stocks/1.jpg");
    background-size: cover;
    padding: 33px;
    .offer1-bg {
      background-color: rgba(0,0,0,.4);
      padding-top: 150px;
      padding-left: 20px;
      line-height: 1;
      letter-spacing: 2px;
    }
    .offer1-title {font-size: 2.2rem;}
    .offer1-subtitle {font-size: 3.7rem;}
    .offer1-discount {
      font-size: 3rem;
      font-weight: 600;
      text-align: center;
      line-height: 76px;
      width: 160px;
      height: 83px;
      border: 5px solid white;
      box-sizing: border-box;
    }
  }
  .stock-offer-double {
    max-width: 450px;
    height: ($stock-bheight - 60px)* 2 + 32px;
    box-sizing: border-box;
    @media (min-width: 576px) {
      max-width: 554px;
      height: $stock-bheight * 2 + 32px;
    }
  }

  .stock-offer2 {
    height: $stock-bheight - 60px;
    background: url("../img/stocks/2.png") left no-repeat, url("../img/stocks/3.png") right no-repeat #e8edf7;
    background-size: auto $stock-bheight - 60px;
    padding-left: 32%;
    line-height: 1;
    @media (min-width: 576px) {
      height: $stock-bheight;
      background-size: auto $stock-bheight;
    }
    .offer2-title {
      font-size: 1rem;
      @include scale-font(410px, 1.5rem);
      @include scale-font(576px, 1.8rem);

      .offer2-accented {
        @media (min-width: 576px) {
          font-weight: 900;
        }
      }
    }
    .offer2-subtitle {
      font-size: .7rem;
      margin-bottom: 12px;
      letter-spacing: 2px;
      @include scale-font(410px, .9rem);
      @include scale-font(576px, 1rem);
    }
    .offer2-price {
      font-size: 1.4rem;
      color: $main-color;
      @include scale-font(410px, 2rem);
      @include scale-font(576px, 2.3rem);
    }
  }

  .stock-offer3 {
    height: $stock-bheight - 60px;
    background: url("../img/stocks/4.png") left no-repeat #fbf3f7;
    background-size: auto $stock-bheight - 60px;
    padding-left: 60%;

    @media (min-width: 410px) {padding-left: 42%;}
    @media (min-width: 576px) {
      height: $stock-bheight;
      background-size: auto $stock-bheight;
      padding-left: 50%;
    }
    .offer3-title {
      color: $main-color;
      font-size: 1.2rem;
      @include scale-font(576px, 1.4rem);
    }
    .offer3-subtitle {
      font-size: .9rem;
      @include scale-font(576px, 1.1rem);
    }
  }
}

