@import "variables";
@import "mixins";
@import "components/components";
@import "sections/sections";

ol, ul {
  list-style: none;
}

.container {
  font-family: 'Poppins', sans-serif;;
}

.navbar-wrapper {
  background: #434343;
  padding: 15px 0 9px 0;
}

.nav-item {
  color: white;
  font-size: 13px;
  margin-right: 25px;
}

.nav-text {
  padding: 0 0 4px 0;
}

.nav-link {
  display: inline-block;
  margin-left: 5px;
  color: white;
  padding: 0 0 4px 0;
  border-bottom: 1px solid #434343;
  &:hover {
    text-decoration: none;
    color: white;
    border-bottom: 1px solid white;
  }
}

.header {
  background-color: $dark-grey;
  height: 145px;
  &-wrapper {
    background-color: $dark-grey;
  }
  &-phone-icon {
    display: none;
    color: $main-color;
    font-size: 28px;
    margin-right: 10px;
  }
  &-phone-number {
    margin-top: 3px;
    color: white;
    font-size: 17px;
    padding-bottom: 1px;
    border-bottom: 1px solid $dark-grey;
    &:hover {
      text-decoration: none;
      color: white;
      border-bottom: 1px solid white;
    }
  }
}

.basket {
  color: white;
  margin-right: 12px;
  font-size: 18px;
  &-wrapper {
    @include flex-center;
    width: 45px;
    height: 43px;
    margin-right: 8px;
    background-color: $main-color;
    position: relative;
    &:hover{
      text-decoration: none;
    }
  }
  &-items {
    @include flex-center;
    background: $dark-grey;
    width: 25px;
    height: 25px;
    font-size: 12px;
    position: absolute;
    top: 10px;
    left: 32px;
  }
}

.top-menu-wrapper {
  box-shadow: 0 3px 5px 0 #dcdcdc;
}

.search-form {
  width: 227px;
  height: 47px;
  margin: 18px 0;
  border: 1px solid $dark-grey;
}

.search-icon {
  margin-left: -30px;
  cursor: pointer;
}

//.top-menu {
//  position: relative;
//}

.navbar-menu {
  padding-left: 130px;
}

.navbar-burger-line {
    height: 3px;
    width: 29px;
    margin-bottom: 2px;
    background-color: black;
}

.btn {
  border: none;
  padding: 0;
  border-radius: 0;
  background-color: $dark-grey;
  outline: none;
  &:focus {
    box-shadow: 0 3px 0 0 $dark-grey;
  }
}

.dropdown-menu {
  background-color: $dark-grey;
  border-radius: 0;
  //border: none;
}

//.dropdown-menu.show {
//  //position: absolute;
//  left: -111px;
//}

.dropdown-item {
  text-transform: uppercase;
  color: #a7a7a7;
  font-size: 14px;
  margin-bottom: 5px;
  text-align: right;
  &:hover {
    color: white;
    background-color: $dark-grey;
    padding-bottom: 3px;
    border-bottom: 1px solid #a7a7a7;
  }
}

.top-slider {
  position: relative;
  margin-bottom: 75px;
  &-text {
    @include flex-center;
    position: absolute;
    margin: -60% 3.5% 0 3.5%;
    height: 70%;
    width: 93%;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
  }
  &-title {
    font-size: 38px;
    font-weight: 600;
    color: white;
    margin-bottom: 15px;
  }
  &-description {
    font-size: 19px;
    font-weight: 300;
    color: white;
    margin-bottom: 35px;
  }
  &-btn {
    outline: none;
    text-transform: uppercase;
    color: black;
    font-size: 15px;
    font-weight: 600;
    border: none;
    background-color: white;
    padding: 20px 28px;
  }
}
//
//.carousel-img {   // Яклсь це вирішити. Можливо знайти іншу картинку такого самого розміру
//  height: 300px;
//}

.carousel-arrow {
  background-color: $dark-grey;
  opacity: 1;
  width: 50%;
  height: 36px;
  top: calc(100% - 32px);
  &:hover {
    background-color: $main-color;
    opacity: 1;
  }
}


.our-features {
  @include flex-center;
  flex-direction: column;
  width: 260px;
  height: 120px;
  margin: 0 auto 65px auto;
  border: 1px solid #b7b7b7;
  line-height: 0.7;
  cursor: pointer;
  &:hover .our-features-icon-border-big {
    border-color: $main-color;
  }
  &:hover .our-features-icon-border-small {
    border-color: $main-color;
    background-color: $main-color;
  }
  &:hover .our-features-icon {
    color: white;
  }
  &:hover .our-features-name {
    color: #e0a38e;
  }
  &:hover .our-features-description {
    color: #e0a38e;
  }
  &-name {
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 600;
    margin-top: -30px;
  }
  &-description {
    text-transform: uppercase;
    font-size: 23px;
    font-weight: 300;
  }
  &-icon {
    font-size: 20px;
    &-border-big {
      @include flex-center;
      background-color: white;
      margin-top: -160px;
      width: 75px;
      height: 75px;
      border: 1px solid #b7b7b7;
    }
    &-border-small {
      @include flex-center;
      width: 60px;
      height: 60px;
      border: 1px solid #b7b7b7;
    }
  }
}

@media (min-width: 768px) {
  .header-phone-icon {
    display: inline-block;
  }

  //.carousel-img {
  //  height: 500px;
  //}
}